@charset "utf-8";


.root {
  row-gap: 0px;
  border-radius: 6px;
  background-image: linear-gradient(to right bottom, hsla(320, 90%, 70%, 0.1), hsla(260, 90%, 70%, 0.1) 40%, hsla(200, 90%, 65%, 0.1));
  background-attachment: fixed;
  display: flex;
  overflow: hidden;
}

.left {
  padding-inline: 6px;
  color: hsla(260, 30%, 60%, 0.9);
  background-image: linear-gradient(to right bottom, hsla(320, 90%, 70%, 0.2), hsla(260, 90%, 70%, 0.2) 40%, hsla(200, 90%, 65%, 0.2));
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.right {
  padding-block: 10px;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.date {
  margin-bottom: 8px;
  column-gap: 0.3em;
  font-size: 12px;
  font-family: "Reddit Sans";
  display: flex;
  align-items: baseline;
}

.main {
  row-gap: 4px;
  display: flex;
  flex-direction: column;
}

.time-container {
  column-gap: 0.3em;
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
}

.time {
  font-size: 24px;
  font-weight: bold;
  flex: 0 0 auto;
}

.arrow {
  translate: 0em -0.1em;
  color: hsla(260, 90%, 70%, 0.5);
}