@charset "utf-8";


.root {
  border: 1px solid rgba(white, 0.3);
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &[data-environment="light"] {
    background-color: rgba(white, 0.3);
    &:hover {
      background-color: rgba(white, 0.5)
    }
  }
  &[data-environment="background"] {
    background-color: rgba(white, 0.5);
    &:hover {
      background-color: rgba(white, 0.6);
    }
  }
  &[data-color="purple"] {
    color: hsl(260, 90%, 70%);
    box-shadow: 0px 4px 12px hsla(260, 90%, 40%, 0.1);
  }
  &[data-color="blue"] {
    color: hsl(220, 90%, 65%);
    box-shadow: 0px 4px 12px hsla(220, 90%, 35%, 0.1);
  }
  &[data-color="pink"] {
    color: hsl(320, 90%, 70%);
    box-shadow: 0px 4px 12px hsla(320, 90%, 40%, 0.1);
  }
  &[data-size="medium"] {
    width: 48px;
    height: 48px;
    font-size: 24px;
    border-radius: 48px;
  }
  &[data-size="large"] {
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 80px;
  }
}