@charset "utf-8";


.root {
  border: 1px solid rgba(white, 0.5);
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &[data-color="purple"] {
    color: hsl(260, 90%, 70%);
    background-color: hsla(260, 90%, 98%, 0.5);
    box-shadow: 0px 4px 12px hsla(260, 90%, 70%, 0.2);
    &:hover {
      background-color: hsla(260, 90%, 98%, 0.7);
    }
  }
  &[data-color="blue"] {
    color: hsl(200, 90%, 55%);
    background-color: hsla(200, 90%, 97%, 0.5);
    box-shadow: 0px 4px 12px hsla(200, 90%, 55%, 0.2);
    &:hover {
      background-color: hsla(200, 90%, 97%, 0.7);
    }
  }
  &[data-color="pink"] {
    color: hsl(320, 90%, 70%);
    background-color: hsla(320, 90%, 98%, 0.5);
    box-shadow: 0px 4px 12px hsla(320, 90%, 70%, 0.2);
    &:hover {
      background-color: hsla(320, 90%, 98%, 0.7);
    }
  }
  &[data-size="medium"] {
    width: 48px;
    height: 48px;
    font-size: 24px;
    border-radius: 48px;
  }
  &[data-size="large"] {
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 80px;
  }
}