@charset "utf-8";

@use "sass:math" as *;


.root {
  row-gap: 0.3em;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.root strong,
.root em {
  text-decoration: underline;
}

.root s {
  text-decoration: line-through;
}

.root code {
  padding-block: 0.1em;
  padding-inline: 0.2em;
  font-family: "Courier Prime", "Noto Sans JP", monospace;
  font-feature-settings: "palt" 0, "pkna" 0 !important;
  font-size: 90%;
  border-radius: 4px;
  border: 1px solid rgba(white, 0.5);
  line-height: 1 !important;
  letter-spacing: -0.05em;
  white-space: pre;
}

.root h1 {
  font-size: 140%;
}

.root h2 {
  font-size: 120%;
}

.root ul {
  list-style: none;
  >li {
    margin-inline-start: 0.8em;
    position: relative;
    &::before {
      inset-inline-start: -0.8em;
      position: absolute;
      content: "•";
    }
  }
}

.root ol {
  list-style: none;
  counter-reset: ol;
  >li {
    margin-inline-start: 1.4em;
    position: relative;
    counter-increment: ol;
    &::before {
      width: 1.5em;
      padding-block: 0.2em;
      inset-inline-start: div(-1.4em, 0.7);
      inset-block-end: 0.27em;
      font-size: 70%;
      letter-spacing: -0.05em;
      border-radius: 1em;
      line-height: 1;
      border: 1px solid currentcolor;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      content: counter(ol);
    }
  }
}

.root blockquote {
  padding-inline-start: 0.5em;
  row-gap: 0.3em;
  border-inline-start: 3px double rgba(white, 0.5);
  display: flex;
  flex-direction: column;
}

.root pre {
  margin-block: 0.2em;
  padding-block: 0.2em;
  padding-inline: 0.5em;
  border-radius: 4px;
  border: 1px solid rgba(white, 0.5);
  line-height: 1 !important;
  >code {
    display: contents;
  }
}