@charset "utf-8";


.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.top {
  row-gap: 8px;
  padding-block-end: 16px;
  border-block-end: 1px solid rgba(white, 0.5);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.bottom {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.navigation {
  column-gap: 0.3em;
  display: flex;
}

.link {
  color: hsla(260, 80%, 60%, 0.9);
  cursor: pointer;
}

.link-icon {
  &[data-position="left"] {
    margin-inline-end: 0.3em;
  }
  &[data-position="right"] {
    margin-inline-start: 0.3em;
  }
}

.date {
  font-size: 28px;
  font-weight: bold;
}

.scroll {
  flex-grow: 1;
  flex-shrink: 1;
}

.article {
  padding-block-start: 16px;
  padding-block-end: 16px;
  display: flex;
  flex-direction: column;
}

.heading {
  margin-block-end: 16px;
  font-size: 20px;
  font-weight: bold;
  color: hsla(260, 30%, 60%, 0.9);
}

.total {
  margin-block-start: -8px;
  margin-block-end: 16px;
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
}

.time-icon {
  margin-inline-end: 0.3em;
  translate: 0em -0.1em;
  color: hsla(260, 30%, 60%, 0.9);
  flex: 0 0 auto;
}

.time-label {
  margin-inline-end: 0.3em;
  translate: 0em -0.1em;
  color: hsla(260, 30%, 60%, 0.9);
  flex: 0 0 auto;
}

.time {
  width: 3.8em;
  font-size: 24px;
  font-weight: bold;
  text-align: end;
  flex: 0 0 auto;
}
