@charset "utf-8";


.root {
  height: 32px;
  margin-inline: 12px;
  color: rgba(white, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
  flex-grow: 0;
  flex-shrink: 0;
}

.left {
  column-gap: 16px;
  display: flex;
  -webkit-app-region: no-drag;
}

.right {
  column-gap: 0.3em;
  display: flex;
}

.link {
  cursor: pointer;
}

.icon {
  margin-inline-end: 6px;
}
