@charset "utf-8";


.root {
  height: 32px;
  margin-inline: 12px;
  color: rgba(white, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
  flex-grow: 0;
  flex-shrink: 0;
}