@charset "utf-8";


.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.scroll {
  margin-inline: -2px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.list {
  margin-inline: 2px;
  padding-block-end: 24px;
  display: flex;
  flex-direction: column;
}