@charset "utf-8";


.root {
  flex-grow: 1;
  flex-shrink: 1;
}

.complement {
  column-gap: 8px;
  display: flex;
  align-items: center;
  &[data-size="medium"] {
    font-size: 20px;
  }
  &[data-size="large"] {
    font-size: 24px;
  }
}

.project {
  column-gap: 0.2em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  &[data-size="medium"] {
    margin-block-start: 8px;
    font-size: 20px;
  }
  &[data-size="large"] {
    margin-block-start: 8px;
    font-size: 24px;
  }
}

.ancestor {
  column-gap: 0.2em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  &[data-size="medium"] {
    margin-block-start: 8px;
    font-size: 20px;
  }
}

.subject {
  font-weight: bold;
  &[data-size="medium"] {
    margin-block-start: 8px;
    font-size: 32px;
  }
  &[data-size="large"] {
    margin-block-start: 8px;
    font-size: 40px;
  }
}

.complement-extra {
  display: contents;
  &[data-size="large"] {
    display: none;
  }
}

.external {
  font-size: 70%;
  color: hsla(260, 80%, 60%, 0.9);
  cursor: pointer;
}

.hierarchy-arrow {
  &[data-environment="light"] {
    color: hsla(260, 90%, 70%, 0.5);
  }
  &[data-environment="dark"] {
    color: rgba(white, 0.5);
  }
}
