@charset "utf-8";


.root {
  flex-grow: 1;
  flex-shrink: 1;
}

.complement {
  column-gap: 8px;
  display: flex;
  align-items: center;
  &[data-size="medium"] {
    font-size: 20px;
  }
  &[data-size="large"] {
    font-size: 24px;
  }
}

.project {
  column-gap: 0.2em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  &[data-size="medium"] {
    margin-block-start: 8px;
    font-size: 20px;
  }
  &[data-size="large"] {
    margin-block-start: 8px;
    font-size: 24px;
  }
}

.ancestor {
  column-gap: 0.2em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  &[data-size="medium"] {
    margin-block-start: 8px;
    font-size: 20px;
  }
}

.subject {
  font-weight: bold;
  &[data-size="medium"] {
    margin-block-start: 8px;
    font-size: 32px;
  }
  &[data-size="large"] {
    margin-block-start: 8px;
    font-size: 40px;
  }
}

.complement-extra {
  display: contents;
  &[data-size="large"] {
    display: none;
  }
}

.external {
  font-size: 70%;
  color: hsla(260, 80%, 60%, 0.9);
  cursor: pointer;
}

.hierarchy-arrow {
  &[data-environment="light"] {
    color: hsla(260, 90%, 70%, 0.5);
  }
  &[data-environment="dark"] {
    color: rgba(white, 0.5);
  }
}

.info {
  padding-block: 10px;
  padding-inline: 10px;
  margin-block-start: 12px;
  column-gap: 24px;
  font-size: 14px;
  border-radius: 6px;
  background-color: rgba(white, 0.3);
  display: flex;
  &[data-size="large"] {
    display: none;
  }
}

.info-row {
  row-gap: 12px;
  display: flex;
  flex-direction: column;
}

.info-item {
  row-gap: 6px;
  display: flex;
  flex-direction: column;
}

.info-label {
  font-size: 12px;
  font-weight: bold;
  color: hsla(260, 30%, 60%, 0.9);
}

.info-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-arrow {
  margin-block-start: 1px;
  margin-block-end: -1px;
  margin-inline-start: 2px;  
}